<p>This service creates a new SkillCategory</p>
<h4>POST /skill_categories</h4>
<h4>Parameters:</h4>
<ul>
    <li>auth_token* (string): Authorization token generated after for each user after login.</li>
    <li>name* (string)</li>
</ul>
<ul class="[ collapsible ]" data-collapsible="accordion">
    <li>
        <div class="[ collapsible-header ]"><i class="[ material-icons ]">code</i>Example params</div>
        <div class="[ collapsible-body ]">
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{   
    <span style="color: #007700">&quot;auth_token&quot;</span>: <span style="background-color: #fff0f0">&quot;5uKB2vzUY1vApmkQ9Vg_&quot;</span>,
    <span style="color: #007700">&quot;skill_category&quot;</span> : {
        <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;Publicidad&quot;</span>
    }
}
</pre></div>


        </div>
    </li>
    <li>
        <div class="[ collapsible-header ]"><i class="[ material-icons ]">done</i>Successful Response</div>
        <div class="[ collapsible-body ]">
            <p><span class="[ fw-700 ]">HTTP 201 Created. </span>Returns the newly created SkillCategory object</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;id&quot;</span>: <span style="color: #0000DD; font-weight: bold">1</span>,
  <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;Publicidad&quot;</span>,
  <span style="color: #007700">&quot;skills&quot;</span>: []
}
</pre></div>

        </div>
    </li>
    <li>
        <div class="[ collapsible-header ]"><i class="[ material-icons ]">clear</i>Error Responses</div>
        <div class="[ collapsible-body ]">
            <p><span class="[ fw-700 ]">HTTP 422 Unprocessable Entity. </span>When SkillCategory name alreadys exists</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;errors&quot;</span>: {
    <span style="color: #007700">&quot;name&quot;</span>: [
      <span style="background-color: #fff0f0">&quot;Ya existe una categoría con ese nombre&quot;</span>
    ]
  }
}
</pre></div>

             <p><span class="[ fw-700 ]">HTTP 422 Unprocessable Entity. </span> When name is empty or missing</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;errors&quot;</span>: {
    <span style="color: #007700">&quot;name&quot;</span>: [
      <span style="background-color: #fff0f0">&quot;El nombre de la categoría no puede estar vacío&quot;</span>
    ]
  }
}
</pre></div>

        </div>
    </li>
</ul>

<form name="entry_form" class="[ mt-40 ][ left-align ][ col s12 ]" enctype="multipart/form-data"  ng-submit="skillCatService( 'create' )" data-parsley-validate>
  <div class="[ col s12 m3 offset-m3 ]"> 
        <div class="input-field">
            <input type="text" id="create-skill-cat-auth-token" ng-model="createSkillCat.authToken" required>
            <label for="create-skill-cat-auth-token">Authorization Token</label>
        </div>
    </div>
    <div class="[ col s12 m3 ]"> 
        <div class="input-field">
            <input type="text" id="create-skill-cat-name" ng-model="createSkillCat.name" required>
            <label for="create-skill-cat-name">Name</label>
        </div>
    </div>
    <div class="clear"></div>
    <div class="[ col s12 ]"> 
        <div class="[ center-align ]">
            <button class="[ waves-effect ][ btn ]">Submit</button>
        </div>
    </div>
</form>

<div class="[ col s12 ]" ng-show="showAgenciesResponse">
    <h5>Response:</h5>
    <p>{{ skillCatResponse | json }}</p>
</div>
