<p>This service fetches an existing agency</p>
<h4>GET /agencies/:id</h4>
<h4>Parameters:</h4>
<ul>
    <li>id (integer)</li>
</ul>
<ul class="[ collapsible ]" data-collapsible="accordion">
    <li>
        <div class="[ collapsible-header ]"><i class="[ material-icons ]">done</i>Successful Response</div>
        <div class="[ collapsible-body ]">
            <p><span class="[ fw-700 ]">HTTP 200 OK. </span>Returns an agency object</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;id&quot;</span>: <span style="color: #0000DD; font-weight: bold">1</span>,
  <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;adf&quot;</span>,
  <span style="color: #007700">&quot;phone&quot;</span>: <span style="background-color: #fff0f0">&quot;-&quot;</span>,
  <span style="color: #007700">&quot;contact_name&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;contact_email&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;address&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;latitude&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;longitude&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;website_url&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;num_employees&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
  <span style="color: #007700">&quot;golden_pitch&quot;</span>: <span style="color: #008800; font-weight: bold">false</span>,
  <span style="color: #007700">&quot;silver_pitch&quot;</span>: <span style="color: #008800; font-weight: bold">false</span>,
  <span style="color: #007700">&quot;high_risk_pitch&quot;</span>: <span style="color: #008800; font-weight: bold">false</span>,
  <span style="color: #007700">&quot;medium_risk_pitch&quot;</span>: <span style="color: #008800; font-weight: bold">false</span>,
  <span style="color: #007700">&quot;logo&quot;</span>: <span style="background-color: #fff0f0">&quot;/Users/micho/Documents/cuervo/sitios/amap-api-dev/storage/development/attachments/1/original/pequeo_cuervo.jpg&quot;</span>,
  <span style="color: #007700">&quot;success_cases&quot;</span>: [
    {
      <span style="color: #007700">&quot;id&quot;</span>: <span style="color: #0000DD; font-weight: bold">3</span>,
      <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;Constitución CDMX&quot;</span>,
      <span style="color: #007700">&quot;description&quot;</span>: <span style="background-color: #fff0f0">&quot;Sitio web de la nueva Constitución de la CDMX&quot;</span>,
      <span style="color: #007700">&quot;url&quot;</span>: <span style="background-color: #fff0f0">&quot;https://constitucion.cdmx.gob.mx&quot;</span>,
      <span style="color: #007700">&quot;created_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;updated_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;case_image_file_name&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;case_image_content_type&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;case_image_file_size&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;case_image_updated_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;agency_id&quot;</span>: <span style="color: #0000DD; font-weight: bold">1</span>
    },
    {
      <span style="color: #007700">&quot;id&quot;</span>: <span style="color: #0000DD; font-weight: bold">1</span>,
      <span style="color: #007700">&quot;name&quot;</span>: <span style="background-color: #fff0f0">&quot;NewName&quot;</span>,
      <span style="color: #007700">&quot;description&quot;</span>: <span style="background-color: #fff0f0">&quot;Sitio web de la nueva Constitución de la CDMX&quot;</span>,
      <span style="color: #007700">&quot;url&quot;</span>: <span style="background-color: #fff0f0">&quot;https://constitucion.cdmx.gob.mx&quot;</span>,
      <span style="color: #007700">&quot;created_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;updated_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;case_image_file_name&quot;</span>: <span style="background-color: #fff0f0">&quot;flockproj.jpg&quot;</span>,
      <span style="color: #007700">&quot;case_image_content_type&quot;</span>: <span style="background-color: #fff0f0">&quot;image/jpeg&quot;</span>,
      <span style="color: #007700">&quot;case_image_file_size&quot;</span>: <span style="color: #0000DD; font-weight: bold">62787</span>,
      <span style="color: #007700">&quot;case_image_updated_at&quot;</span>: <span style="color: #008800; font-weight: bold">null</span>,
      <span style="color: #007700">&quot;agency_id&quot;</span>: <span style="color: #0000DD; font-weight: bold">1</span>
    }
  ]
}
</pre></div>
        </div>
    </li>
    <li>
        <div class="[ collapsible-header ]"><i class="[ material-icons ]">clear</i>Error Responses</div>
        <div class="[ collapsible-body ]">
            <p><span class="[ fw-700 ]">HTTP 422 Unprocessable Entity. </span>When there is no agency found</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;errors&quot;</span>: <span style="background-color: #fff0f0">&quot;No agency found with id: 10101&quot;</span>
}
</pre></div>
        </div>
    </li>
</ul>

<form name="entry_form" class="[ mt-40 ][ left-align ][ col s12 ]" ng-submit="agencyService( 'show' )" data-parsley-validate>
  <div class="[ col s12 m4 offset-m4 ]"> 
        <div class="input-field">
            <input type="text" id="show-agency-id" ng-model="showAgency.id" required>
            <label for="show-agency-id">ID</label>
        </div>
    </div>
    <div class="clear"></div>
    <div class="[ col s12 ]"> 
        <div class="[ center-align ]">
            <button class="[ waves-effect ][ btn ]">Submit</button>
        </div>
    </div>
</form>

<div class="[ col s12 ]" ng-show="showAgenciesResponse">
    <h5>Response:</h5>
    <p>{{ agencyResponse | json }}</p>
</div>
