<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>
<div class="[ card-panel ]">
    <div class="row">
        <h3>API Tester</h3>
        <h4>URL: {{ apiUrl }}</h4>
        <h4>Api Token: {{ apiKey }}</h4>
        <hr>
        <div class="[ col s12 m3 l2 ]">
            <div class="collection">
                <a href="#" id="newUserRequests" class="[ collection-item ][ waves-effect ][ active ]" ng-click="setActive('newUserRequests')">New User Requests</a>
                <a href="#" id="sessions" class="[ collection-item ][ waves-effect ]" ng-click="setActive('sessions')">Sessions</a>
                <a href="#" id="users" class="[ collection-item ][ waves-effect ] " ng-click="setActive('users')">Users (pending)</a>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isNewUserRequests">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#create_new_user_request">Create</a></li>
                <li class="tab col s3"><a href="#confirm_request">Confirm request</a></li>
                <li class="tab col s3"><a href="#reject_request">Reject request</a></li>
            </ul>
            <div id="create_new_user_request" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/create-new-user-request.html'"></div>
            </div>
            <div id="confirm_request" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/confirm-request.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isUsers">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#create_user">Create</a></li>
                <li class="tab col s3"><a href="#update_user">Update</a></li>
                <li class="tab col s3"><a href="#send_password_reset">Send Password Reset</a></li>
            </ul>
<!--             <div id="create_user" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/create-new-user-request.html'"></div>
            </div>
            <div id="update_user" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/confirm-request.html'"></div>
            </div>
            <div id="send_password_reset" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/confirm-request.html'"></div>
            </div> -->
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isSessions">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#login">Login</a></li>
                <li class="tab col s3"><a href="#logout">Logout</a></li>
            </ul>
            <div id="login" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/login.html'"></div>
            </div>
            <div id="logout" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/logout.html'"></div>
            </div>
        </div>
    </div>
</div> 

<hr>

<script>
  $('[data-parsley-validate]').parsley();
</script>
