<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>
<div class="[ card-panel ]">
    <div class="row">
        <h3>API Tester</h3>
        <h4>URL: {{ apiUrl }}</h4>
        <h4>Api Token: {{ apiKey }}</h4>
        <hr>
        <div class="[ col s12 m3 l2 ]">
            <div class="collection">
                <a href="#" id="newUserRequests" class="[ collection-item ][ waves-effect ][ active ]" ng-click="setActive('newUserRequests')">New User Requests</a>
                <a href="#" id="users" class="[ collection-item ][ waves-effect ] " ng-click="setActive('users')">Users (pending)</a>
                <a href="#" id="sessions" class="[ collection-item ][ waves-effect ]" ng-click="setActive('sessions')">Sessions</a>
                <a href="#" id="agencies" class="[ collection-item ][ waves-effect ] " ng-click="setActive('agencies')">Agencies</a>
                <a href="#" id="successCases" class="[ collection-item ][ waves-effect ] " ng-click="setActive('successCases')">Success Cases (agencies)</a>
                <a href="#" id="skills" class="[ collection-item ][ waves-effect ] " ng-click="setActive('skills')">Skills (agencies)</a>
                <a href="#" id="companies" class="[ collection-item ][ waves-effect ] " ng-click="setActive('companies')">Companies</a>
                <a href="#" id="brands" class="[ collection-item ][ waves-effect ] " ng-click="setActive('brands')">Brands (companies)</a>
                <a href="#" id="pitches" class="[ collection-item ][ waves-effect ] " ng-click="setActive('pitches')">Pitches</a>
                <a href="#" id="morePitches" class="[ collection-item ][ waves-effect ] " ng-click="setActive('morePitches')">More Pitches</a>
                <a href="#" id="agencyDashboards" class="[ collection-item ][ waves-effect ] " ng-click="setActive('agencyDashboards')">Agency Dashboards</a>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isNewUserRequests">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#create_new_user_request">Create</a></li>
                <li class="tab col s3"><a href="#confirm_request">Confirm request</a></li>
                <li class="tab col s3"><a href="#reject_request">Reject request</a></li>
            </ul>
            <div id="create_new_user_request" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/new-user-request/create-new-user-request.html'"></div>
            </div>
            <div id="confirm_request" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/new-user-request/confirm-request.html'"></div>
            </div>
            <div id="reject_request" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/new-user-request/reject-request.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isAgencies">
            <ul class="tabs">
                <li class="tab col s2"><a class="active" href="#show_agency">Show</a></li>
                <li class="tab col s2"><a href="#create_agency">Create</a></li>
                <li class="tab col s2"><a href="#update_agency">Update</a></li>
                <li class="tab col s2"><a href="#add_skills">Add skills</a></li>
                <li class="tab col s2"><a href="#add_criteria">Add Criteria</a></li>
                <li class="tab col s2"><a href="#add_exclusivity">Add Exclusivity</a></li>
                <li class="tab col s2"><a href="#remove_exclusivity">Remove Exclusivity</a></li>
            </ul>
            <div id="show_agency" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/show-agency.html'"></div>
            </div>
            <div id="create_agency" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/create-agency.html'"></div>
            </div>
            <div id="update_agency" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/update-agency.html'"></div>
            </div>
            <div id="add_skills" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/add-skills.html'"></div>
            </div>
            <div id="add_criteria" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/add-criteria.html'"></div>
            </div>
            <div id="add_exclusivity" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/add-exclusivity.html'"></div>
            </div>
            <div id="remove_exclusivity" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/remove-exclusivity.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isCases">
            <ul class="tabs">
                <li class="tab col s2"><a class="active" href="#show_success_case">Show</a></li>
                <li class="tab col s2"><a href="#create_success_case">Create</a></li>
                <li class="tab col s2"><a href="#update_success_case">Update</a></li>
                <li class="tab col s2"><a href="#destroy_success_case">Destroy</a></li>
            </ul>
            <div id="show_success_case" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/show-success-case.html'"></div>
            </div>
            <div id="create_success_case" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/create-success-case.html'"></div>
            </div>
            <div id="update_success_case" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/update-success-case.html'"></div>
            </div>
            <div id="destroy_success_case" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/destroy-success-case.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isSkills">
            <ul class="tabs">
                <li class="tab col s2"><a class="active" href="#get_skill_categories">All Skill Categories</a></li>
                <li class="tab col s2"><a class="active" href="#show_skill_category">Show Skill Category</a></li>
                <li class="tab col s2"><a class="active" href="#create_skill_category">Create Skill Category</a></li>
                <li class="tab col s2"><a class="active" href="#show_skill">Show Skill</a></li>
                <li class="tab col s2"><a class="active" href="#create_skill">Create Skill</a></li>
            </ul>
            <div id="get_skill_categories" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/get-skill-categories.html'"></div>
            </div>
            <div id="show_skill_category" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/show-skill-category.html'"></div>
            </div>
            <div id="create_skill_category" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/create-skill-category.html'"></div>
            </div>
            <div id="show_skill" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/show-skill.html'"></div>
            </div>
            <div id="create_skill" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/agency/create-skill.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isUsers">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#create_user">Create</a></li>
                <li class="tab col s3"><a href="#update_user">Update</a></li>
                <li class="tab col s3"><a href="#send_password_reset">Send Password Reset</a></li>
            </ul>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isSessions">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#login">Login</a></li>
                <li class="tab col s3"><a href="#logout">Logout</a></li>
            </ul>
            <div id="login" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/login.html'"></div>
            </div>
            <div id="logout" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/logout.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isCompanies">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#get_companies">All Companies</a></li>
                <li class="tab col s3"><a href="#show_company">Show Company</a></li>
                <li class="tab col s3"><a href="#create_company">Create Company</a></li>
                <li class="tab col s3"><a href="#update_company">Update Company</a></li>
            </ul>
            <div id="get_companies" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/get-companies.html'"></div>
            </div>
            <div id="show_company" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/show-company.html'"></div>
            </div>
            <div id="create_company" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/create-company.html'"></div>
            </div>
            <div id="update_company" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/update-company.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isBrands">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#get_brands">All Brands</a></li>
                <li class="tab col s3"><a href="#show_brand">Show Brand</a></li>
                <li class="tab col s3"><a href="#create_brand">Create Brand</a></li>
                <li class="tab col s3"><a href="#show_brand_by_company">Brand by Company</a></li>
            </ul>
            <div id="get_brands" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/get-brands.html'"></div>
            </div>
            <div id="show_brand" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/show-brand.html'"></div>
            </div>
            <div id="create_brand" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/create-brand.html'"></div>
            </div>
            <div id="show_brand_by_company" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/company/show-brand-by-company.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isPitches">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#get_pitches">All Pitches</a></li>
                <li class="tab col s3"><a href="#show_pitch">Show Pitch</a></li>
                <li class="tab col s3"><a href="#create_pitch">Create Pitch</a></li>
                <li class="tab col s3"><a href="#by_brand">By Brand</a></li>
                <li class="tab col s3"><a href="#create_pitch_evaluation">Create Evaluation</a></li>
                <li class="tab col s3"><a href="#update_pitch_evaluation">Update Evaluation</a></li>
                <li class="tab col s3"><a href="#pitches_by_user">By User</a></li>
                <li class="tab col s3"><a href="#cancel_pitch">Cancel</a></li>
                <li class="tab col s3"><a href="#decline_pitch">Decline</a></li>
                <li class="tab col s3"><a href="#archive_pitch">Archive</a></li>
            </ul>
            <div id="get_pitches" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/get-pitches.html'"></div>
            </div>
            <div id="show_pitch" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/show-pitch.html'"></div>
            </div>
            <div id="create_pitch" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/create-pitch.html'"></div>
            </div>
            <div id="by_brand" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/pitches-by-brand.html'"></div>
            </div>
            <div id="create_pitch_evaluation" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/create-pitch-evaluation.html'"></div>
            </div>
            <div id="update_pitch_evaluation" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/update-pitch-evaluation.html'"></div>
            </div>
            <div id="pitches_by_user" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/pitches-by-user.html'"></div>
            </div>
            <div id="cancel_pitch" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/cancel-pitch.html'"></div>
            </div>
            <div id="decline_pitch" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/decline-pitch.html'"></div>
            </div>
            <div id="archive_pitch" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/archive-pitch.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isMorePitches">
            <ul class="tabs">
                <li class="tab col s3 [ active ]"><a href="#destroy_pitch_evaluation">Destroy Evaluation</a></li>
                <li class="tab col s3"><a href="#create_pitch_results">Create Pitch Results</a></li>
                <li class="tab col s3"><a href="#show_pitch_results">Show Pitch Results</a></li>
                <li class="tab col s3"><a href="#update_pitch_results">update Pitch Results</a></li>
                <li class="tab col s3"><a href="#create_pitch_winner_surveys">Winner Survey</a></li>
                <li class="tab col s3"><a href="#search">Search</a></li>
                <li class="tab col s3"><a href="#filter">Filter</a></li>
            </ul>
            <div id="destroy_pitch_evaluation" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/destroy-pitch-evaluation.html'"></div>
            </div>
            <div id="create_pitch_results" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/create-pitch-results.html'"></div>
            </div>
            <div id="show_pitch_results" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/show-pitch-result.html'"></div>
            </div>
            <div id="update_pitch_results" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/update-pitch-results.html'"></div>
            </div>
            <div id="create_pitch_winner_surveys" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/create-pitch-winner-surveys.html'"></div>
            </div>
            <div id="search" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/search.html'"></div>
            </div>
            <div id="filter" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/pitch/filter.html'"></div>
            </div>
        </div>
        <div class="[ col s12 m9 l10 ][ service-details ]" ng-show="isAgencyDashboards">
            <ul class="tabs">
                <li class="tab col s3 [ active ]"><a href="#avg_per_month_by_user">Per Month By User</a></li>
                <li class="tab col s3"><a href="#avg_per_month_by_agency">Per Month By Agency</a></li>
                <li class="tab col s3"><a href="#avg_per_month_industry">Per Month Industry</a></li>
                <li class="tab col s3"><a href="#dashboard_summary_by_agency">Summary By Agency</a></li>
                <li class="tab col s3"><a href="#dashboard_summary_by_user">Summary By User</a></li>
            </ul>
            <div id="avg_per_month_by_user" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/dashboard/avg-per-month-by-user.html'"></div>
            </div>
            <div id="avg_per_month_by_agency" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/dashboard/avg-per-month-by-agency.html'"></div>
            </div>
            <div id="avg_per_month_by_industry" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/dashboard/avg-per-month-industry.html'"></div>
            </div>
            <div id="dashboard_summary_by_agency" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/dashboard/summary-by-agency.html'"></div>
            </div>
            <div id="dashboard_summary_by_user" class="[ mt-20 ]">
                <div class="[ card-panel ]" ng-include src="'api-client/templates/dashboard/summary-by-user.html'"></div>
            </div>
        </div>
    </div>
</div> 

<hr>

