<div ng-show="1 == role">

	<div class="[ row ]">
		<div class="[ col s6 m3 ]">
			<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalPitches }}</span>
				<div class="name">Pitches totales</div>
			</div>
		</div>
		<div class="[ col s6 m3 ]">
			<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalAgencies }}</span>
				<div class="name">Agencias totales</div>
			</div>
		</div>
		<div class="[ col s6 m3 ]">
			<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalCompanies }}</span>
				<div class="name">Anunciantes totales</div>
			</div>
		</div>
		<div class="[ col s6 m3 ]">
			<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalBrands }}</span>
				<div class="name">Marcas totales</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Pitches cerrados vs pitches pendientes</h5>
				</div>
				<div class="content">
					<flot dataset="closedVsPendingData" options="closedVsPendingOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	  	<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Histórico de pitches por tipo</h5>
				</div>
				<div class="content">
					<flot dataset="pitchesByTypeData" options="pitchesByTypeOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="title">
					<h5>Histórico de pitches por mes (último año)</h5>
				</div>
				<div class="content">
					<flot dataset="monthlyPitchesData" options="monthlyPitchesOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
		</div>
	  	<div class="col s12 m6">
			<div class="card">
				<div class="title">
					<h5>Pitches mejor brifeados (por promedio)</h5>
				</div>
				<div class="content">
					<ul>
						<li ng-repeat="(pitch, avg) in topPitches track by $index"><h6>{{ ($index+1) + '. ' + pitch + ': ' + avg }}</h6></li>
					</ul>
				</div>
			</div>
	  	</div>
	  	<div class="col s6">
			<div class="card">
				<div class="title">
					<h5>Pitches peor brifeados (por promedio)</h5>
				</div>
				<div class="content">
					<ul>
						<li ng-repeat="(pitch, avg) in worstPitches track by $index"><h6>{{ ($index+1) + '. ' + pitch + ': ' + avg }}</li>
					</ul>
				</div>
			</div>
	  	</div>
	</div>
	<div class="clear"></div>
	<br />
	<div class="[ card-panel ]">
		<div class="[ row ]">
	   	 	<div class="[ col s12 ]">
				<h4 class="[ center-align ]">Solicitudes de usuarios "Agencia"</h4>
				<table datatable="ng" dt-options="dtAgencyUserRequestsOptions" dt-column-defs="dtAgencyUserRequestsColumnDefs" class="row-border hover">
			        <thead>
			            <tr>
			                <th class="[ center-align ]">Agencia</th>
			                <th class="[ center-align ]">Email</th>
			                <th class="[ center-align ]">Fecha de solicitud</th>
			                <th class="[ center-align ]">Revisar</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="request in agencyUserRequests">
			                <td class="[ center-align ]">{{ request.agency_brand }}</td>
			                <td class="[ center-align ]">{{ request.email }}</td>
			                <td class="[ center-align ]">{{ request.created_at | date:'yyyy-MM-dd h:mm:ss a' }}</td>
			                <td class="[ center-align ]">
			                	<a class="[ btn btn-extra green ][ waves-effect ]" href="#/view-user-request/{{request.id}}"><i class="[ material-icons ]">visibility</i></a>
			                	<button class="[ btn btn-extra red ][ waves-effect ]" ng-click="declineRequest( request.email )"><i class="[ material-icons ]">cancel</i></button>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>

	<div class="[ card-panel ]">
		<div class="[ row ]">
	   	 	<div class="[ col s12 ]">
				<h4 class="[ center-align ]">Solicitudes de usuarios "Anunciante"</h4>
				<table datatable="ng" dt-options="dtBrandUserRequestsOptions" dt-column-defs="dtBrandUserRequestsColumnDefs" class="row-border hover">
			        <thead>
			            <tr>
			                <th class="[ center-align ]">Anunciante solicitado</th>
			                <th class="[ center-align ]">Email</th>
			                <th class="[ center-align ]">Fecha de solicitud</th>
			                <th class="[ center-align ]">Revisar</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="request in brandUserRequests">
			                <td class="[ center-align ]">{{ request.agency_brand }}</td>
			                <td class="[ center-align ]">{{ request.email }}</td>
			                <td class="[ center-align ]">{{ request.created_at | date:'yyyy-MM-dd h:mm:ss a' }}</td>
			                <td class="[ center-align ]">
			                	<a class="[ btn btn-extra green ][ waves-effect ]" href="#/view-user-request/{{request.id}}"><i class="[ material-icons ]">visibility</i></a>
			                	<button class="[ btn btn-extra red ][ waves-effect ]" ng-click="declineRequest( request.email )"><i class="[ material-icons ]">cancel</i></button>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>


<!-- SEPARAR EN 2 TEMPLATES -->
<div  ng-show="2 == role">
	<div class="[ card-panel ][ mt-20 ]">
		<div class="[ row ]">
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ happitch }}</span>
					<div class="name">Happitch</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ happy }}</span>
					<div class="name">Happy</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ ok }}</span>
					<div class="name">OK</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ unhappy }}</span>
					<div class="name">Unhappy</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Rate de bateo</h5>
				</div>
				<div class="content">
					<flot dataset="lostVsWonData" options="lostVsWonOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	  	<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Histórico de pitches por tipo</h5>
				</div>
				<div class="content">
					<flot dataset="pitchesByTypeData" options="pitchesByTypeOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	</div>
	<div class="clear"></div>
	<div class="[ card-panel ]">
		<div class="[ row ]">
			<h4 class="[ center-align ]">Recomendaciones</h4>
	   	 	<div class="[ col s12 m6 l4 ][ center-align ]" ng-repeat="reco in recommendations">
	   	 		<img src="assets/_con/icons/{{ getRecoIcon( reco.reco_id ) }}@2x.png" alt="Recomendaciones para agencias">
	   	 		<h4>{{ reco.body }}</h4>
			</div>
		</div>
	</div>
	<div class="[ card-panel ]">
		<div class="[ row ]">
	   	 	<div class="[ col s12  ]">
				<h4 class="[ center-align ]">Usuarios</h4>
				<table datatable="ng" dt-options="dtAgencyUserRequestsOptions" dt-column-defs="dtAgencyUserRequestsColumnDefs" class="row-border hover">
			        <thead>
			            <tr>
			                <th class="[ center-align ]">Nombre</th>
		                    <th class="[ center-align ][ hide-on-small-only ]">Correo</th>
		                    <th class="[ center-align ][ hide-on-small-only ]">Rol</th>
			                <th class="[ center-align ]">Acciones</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="user in users">
			                <td>{{ getUserName( user ) }}</td>
                    		<td class="[ center-align ][ hide-on-small-only ]">{{ user.email }}</td>
                    		<td class="[ center-align ][ hide-on-small-only ]">{{ getUserRole( user.role ) }}</td>
			                <td class="[ center-align ]">
		                        <a href="#/edit-user/{{u.id}}" class="[ btn waves-effect waves-green ]"><i class="[ material-icons ]">mode_edit</i></a></i></a>
		                        <a href="#/delete-user/{{u.id}}" class="[ btn waves-effect waves-green red ]"><i class="[ material-icons ]">delete</i></a></i></a>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>


<!-- SEPARAR EN 2 TEMPLATES -->
<div  ng-show="4 == role">
	<div class="[ card-panel ][ mt-20 ]">
		<div class="[ row ]">
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ happitch }}</span>
					<div class="name">Happitch</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ happy }}</span>
					<div class="name">Happy</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ ok }}</span>
					<div class="name">OK</div>
				</div>
			</div>
			<div class="[ col s6 m3 ]">
				<div class="card-panel stats-card blue darken-4 blue-text text-lighten-5">
					<span class="[ count ]">{{ unhappy }}</span>
					<div class="name">Unhappy</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Rate de bateo</h5>
				</div>
				<div class="content">
					<flot dataset="lostVsWonData" options="lostVsWonOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	  	<div class="col s12 l6">
			<div class="card">
				<div class="title">
					<h5>Histórico de pitches por tipo</h5>
				</div>
				<div class="content">
					<flot dataset="pitchesByTypeData" options="pitchesByTypeOpts" style="display: block; height: 300px"></flot>
				</div>
			</div>
	  	</div>
	</div>
	<div class="clear"></div>
	<div class="[ card-panel ]">
		<div class="[ row ]">
			<h4 class="[ center-align ]">Recomendaciones</h4>
	   	 	<div class="[ col s12 m6 l4 ][ center-align ]" ng-repeat="reco in recommendations">
	   	 		<img src="assets/_con/icons/{{ getRecoIcon( reco.reco_id ) }}@2x.png" alt="Recomendaciones para agencias">
	   	 		<h4>{{ reco.body }}</h4>
			</div>
		</div>
	</div>
	<div class="[ card-panel ]">
		<div class="[ row ]">
	   	 	<div class="[ col s12  ]">
				<h4 class="[ center-align ]">Usuarios</h4>
				<table datatable="ng" dt-options="dtAgencyUserRequestsOptions" dt-column-defs="dtAgencyUserRequestsColumnDefs" class="row-border hover">
			        <thead>
			            <tr>
			                <th class="[ center-align ]">Nombre</th>
		                    <th class="[ center-align ][ hide-on-small-only ]">Correo</th>
		                    <th class="[ center-align ][ hide-on-small-only ]">Rol</th>
			                <th class="[ center-align ]">Acciones</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="user in users">
			                <td>{{ getUserName( user ) }}</td>
                    		<td class="[ center-align ][ hide-on-small-only ]">{{ user.email }}</td>
                    		<td class="[ center-align ][ hide-on-small-only ]">{{ getUserRole( user.role ) }}</td>
			                <td class="[ center-align ]">
		                        <a href="#/edit-user/{{u.id}}" class="[ btn waves-effect waves-green ]"><i class="[ material-icons ]">mode_edit</i></a></i></a>
		                        <a href="#/delete-user/{{u.id}}" class="[ btn waves-effect waves-green red ]"><i class="[ material-icons ]">delete</i></a></i></a>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>