<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Crear categoría de skills</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ][ col s12 ]" ng-submit="createSkill()" data-parsley-validate>
            <div class="[ col s12 m4 offset-m2 ]"> 
                <div class="input-field">
                    <input type="text" id="create-skill-name" ng-model="name" required>
                    <label for="create-skill-name">Name</label>
                </div>
            </div>
            <div class="[ col s12 m4 ][ mt-20 ]">
               <select ng-model="skillCat" required data-parsley-error-message="Es obligatorio escoger categoría para un nuevo skill.">
                    <option value="" disabled selected>Selecciona la categoría</option>
                    <option ng:repeat="cat in skillCategories" value="{{cat.id}}">{{cat.name}}</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





