<p>This service rejects a user request.</p>
<h4>POST /new_user_requests/reject_request</h4>
<h4>Parameters:</h4>
<ul>
    <li>email* (string): Valid email address</li>
</ul>
<ul class="[ collapsible ]" data-collapsible="accordion">
    <li>
        <div class="[ collapsible-header ][ waves-effect waves-blue ]"><i class="[ material-icons ]">code</i>Example params</div>
        <div class="[ collapsible-body ]">
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{ 
  <span style="color: #007700">&quot;email&quot;</span> : <span style="background-color: #fff0f0">&quot;test@pcuervo.com&quot;</span>
}
</pre></div>

        </div>
    </li>
    <li>
        <div class="[ collapsible-header ][ waves-effect waves-green ]"><i class="[ material-icons ]">done</i>Successful Response</div>
        <div class="[ collapsible-body ]">
            <p>Returns a success message.</p>
<div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">{
  <span style="color: #007700">&quot;success&quot;</span>: <span style="background-color: #fff0f0">&quot;Se ha rechazado el usuario con el correo user@agency.com correctamente.&quot;</span>
}
</pre></div>
        </div>
    </li>
    <li>
        <div class="[ collapsible-header ][ waves-effect waves-red ]"><i class="[ material-icons ]">clear</i>Error Response</div>
        <div class="[ collapsible-body ]">
            <p>When there is no pending request with given email.</p>
<div class="[ json-container ]"><pre style="margin: 0; line-height: 125%">{
  <span class="[ json-key ]">&quot;errors&quot;</span>: {
    <span class="[ json-key ]">&quot;email&quot;</span>: [
      <span style="background-color: #fff0f0">&quot;No existe ninguna solicitud pendiente con ese email&quot;</span>
    ]
  }
}
</pre></div>
        </div>
    </li>
</ul>

<form name="entry_form" class="[ mt-40 ][ left-align ][ col s12 ]" ng-submit="newUserRequest( 'reject' )" data-parsley-validate>
    <div class="[ col s12 m4 offset-m4 ]"> 
        <div class="input-field">
            <input type="text" id="reject-req-email" ng-model="rejectReq.email" required>
            <label for="reject-req-email">Email</label>
        </div>
    </div>
    <div class="[ col s12 ]"> 
        <div class="[ center-align ]">
            <button class="[ waves-effect ][ btn ]">Submit</button>
        </div>
    </div>
</form>

<div class="[ col s12 ]" ng-show="showUserRequestResponse">
    <h5>Response:</h5>
    <p>{{ response | json }}</p>
</div>
