<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Agregar administrador</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="registerAdmin()" data-parsley-validate>
            <div class="[ col s12 m4 offset-m2 ]"> 
                <div class="input-field">
                    <input type="text" id="firstName" ng-model="firstName">
                    <label for="firstName">Nombre</label>
                </div>
            </div>
            <div class="[ col s12 m4 ]"> 
                <div class="input-field">
                    <input type="text" id="lastName" ng-model="lastName">
                    <label for="lastName">Apellido(s)</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m4 offset-m4 ]"> 
                <div class="input-field">
                    <input type="text" id="email" ng-model="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">crear usuario</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>
