<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Cambiar contraseña</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="changePassword()" data-parsley-validate>
            <div class="[ col s12 m3 offset-m3 ]"> 
                <div class="input-field">
                    <input type="password" id="password" ng-model="password" required  data-parsley-length="[6, 10]" data-parsley-length-message="El password debe ser entre 6 y 40 caracteres.">
                    <label for="password">Nueva contraseña</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="password" id="password-confirmation" ng-model="passwordConfirmation" required required data-parsley-equalto="#password" data-parsley-equalto-message="Las contraseñas no coinciden.">
                    <label for="password-confirmation">Confirmar contraseña</label>
                </div>
            </div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">Cambiar contraseña</button>
                </div>
            </div>
        </form>
    </div>
    <div class="[ row ]" ng-show="invalidToken">
        <p>Lo sentimos, el código para cambiar tu contraseña ha expirado...</p>
    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





